h1 {
	color: #f68181;
	text-shadow: 5px 4px #c8fbfb;
	text-align: center;
	font-size: 4em;
	font-family: "Arial", sans-serif;
}

body {
	background-image: url("http://based.pink/img/pink.png");
	cursor: url('http://i.imgur.com/VtgxXVJ.png'), default;
}

.song {
	background-color: #C9C9C9;
	border-radius: 1px;
	color: black;
	display: inline-block;
	float: left;
	font-size: 25px;
	padding: 50px 25px;
	text-align: center;
	text-decoration: none;
}

.bread {
	margin-top: -50px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.gun {
	height: 10vh;
	width: 10vw;
	margin-top: -50px;
}

.nintendo {
	height: 15vh;
	width: 15vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.eve {
	display: block;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	/* Chrome, Safari, Opera */
	-webkit-animation: mymove 2s infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	/* Mozilla-based browsers */
	-moz-animation: mymove 2s infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: linear;
	/* Standard syntax */
	animation: mymove 2s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes mymove {
	from {
		-webkit-transform: skewX(10deg);
		-webkit-filter: hue-rotate(0deg);
	}
	to {
		-webkit-transform: skewX(-10deg);
		-webkit-filter: hue-rotate(0deg);
	}
}

/* Mozilla-based browsers */
@-moz-keyframes mymove {
	from {
		-moz-transform: skewX(10deg);
		-moz-filter: hue-rotate(0deg);
	}
	to {
		-moz-transform: skewX(-10deg);
		-moz-filter: hue-rotate(0deg);
	}
}

/* Standard syntax */

@keyframes mymove {
	from {
		transform: skewX(10deg);
		filter: hue-rotate(0deg);
	}
	to {
		transform: skewX(-10deg);
		filter: hue-rotate(360deg);
	}
}

.box {
  background-color: #C9C9C9;
}

.button {
  display: inline;
  float: right;
  background-color: #b2b2b2;
  height: 120%;
  margin-top: -10px;
}

.content {
  background-color: #b2b2b2;
  position: relative;
}

.content-button {
  background-color: #b2b2b2;
  border-bottom: 2px solid #999999;
  border-right: 2px solid #999999;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

.icon {
  width: 100px;
}

.question {
  margin-top: -30px
}

.text {
  padding-top: 10px;
}

.topbar {
  background: #000080;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #000080, #9999cc);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #000080, #9999cc);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #000080, #9999cc);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #000080, #9999cc);
  /* Standard syntax (must be last) */
  color: white;
  height: 40px;
}

.window {
  font-family: monospace;
	width:25%;
}

.x {
  background-color: #b2b2b2;
}

.x:hover {
  background-color: red;
}

main {
  position: background: white;
  margin: 20px 0;
  padding: 10px;
}

main div {
  background: black;
  color: white;
  padding: 15px;
  max-width: 125px;
  margin: 5px;
}

.flex-center {
  display: flex;
  justify-content: center;
}
